p {
	border-bottom: 2px solid red;
	padding-bottom: 5px;
	margin-bottom: 25px;
	margin-left: 10px;
}

form {
	margin: 10px;
}

button {
	margin: 10px;
}

.App {
	margin: 15px;
}

#left, #right {
	float: left;
	border: blue 4px dashed;
}

#left {
	margin-right: 100px;
}